#google {
    width: 570px;
    height: 457px;
    left: 435px;
    top: 171px;
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 auto;
}

#middle {
    width: 457px;
    height: 148px;
    left: 491px;
    padding-top: 154px;
    padding-left: 67px;
}

#log {
    height: 29px;
    left: 45%;
    right: 45.28%;
    top: 325px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

#icon {
    width: 31px;
    height: 31.74px;
    left: 499px;
    top: 373px;
    margin-right: 180px;
}

#border {
    width: 457px;
    height: 51px;
    left: 492px;
    top: 363px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 57px;
}

#Continue {
    height: 20px;
    left: 44.51%;
    right: 43.12%;
    top: 378px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}